<% if flash[:notice] -%>
  <div id="notice" class="error"><%= flash[:notice] %></div>
<% end %>
<div id="login">
<div id="login_dialog" class="login_dialog">
	<% form_for @user, :url => password_reset_path, :method => :put do |f| -%>
	 
	  		<h1>Modificar Contraseña</h1>
			<h2>Ingrese su nueva contraseña</h2>
	  		<%= f.password_field :password %>
			<br/>
			<h2>Confirme su contrañesa</h2>
	  		<%= f.password_field :password_confirmation %>
			<br/>
	 		<%= f.submit "Modificar Contraseña", :class => "button" %>
	
	<% end %>
</div>
<div class="extras">
	<strong>Ayuda: </strong>
	Si no desea modificar su contraseña, cierre esta página.
</div>
</div>