 <div style="text-align: center; color: white; background-color: #29455A; padding-bottom: 10px;">
	<a href="http://www.folio.cl" style="color: white;"><img src="http://www.folio.cl/images/logo.png"/></a><br/><span>lo que tu empresa buscaba<br/></span>
	</div>