<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>                                                                                                             
	<head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	</head>

	<body style="font-family:Helvetica, Arial, sans-serif;font-size:14px; margin-left: 20px;
	margin-right: 20px">
		<h2 style="margin-left: 40px">Bienvenido a Folio!</h2>

		<div style="background-color: #E7F1FD; border-top: 1px solid #000; border-bottom: 1px solid #000;">
			<p style="margin: 20px 0px 0px 40px; padding-bottom: 20px">
				Hola <%=h @name %>,
				</br></br>
				Ya puedes comenzar a organizar tus facturas, llevar tus gastos, enviar cotizaciones y colaborar con tu equipo. Estos son los datos para ingresar:
				<br/><br/>
				URL: <%=h @url %>
				<br/>
				Email: <%=h @user.email %>
				<br/><br/>
				Gracias por elegir Folio.
				<br/><br/>
				El Equipo de Folio.
			</p>
		</div>
		<div style="text-align: center; color: gray;">
			<p><a href="www.folio.cl" style="color: gray;">Folio</a>, lo que tu empresa buscaba.</p>
		</div>
	</body>
</html>