<tr>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <% unless params[:action] == "show" && params[:controller] == "invoices" %>
	  <td style="padding-right: 0px; padding-left: 0px"><hr/></td>
  <% end%>
</tr>