html, body {
  background-color: #E7F1FD;
  height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Helvetica;
}

h4 {
	font-size: 14px;
	margin-bottom: -20px;
	padding-bottom: 0px;
	font-weight: bold;
	font-family: Helvetica;
	
}

hr {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

input {
	padding: 5px;
}

/* Header Style */

#header {
  color: #ffffff;
  height: 61px;
  width: 100%;
  background: url(../images/header_bg.png);
  border-bottom: 1px solid white;
  font-size: 1.5em;
}

#header #logo {
margin-left: 20px;
float: left;
}

#header #navBar {
color: #ffffff;
  margin-left: 200px;
padding-top: 20px;
word-spacing: 10px;
}

#header #preferences_bar {
	float: right;
	margin-top: -35px;
	padding: 5px;
	width: 300px;
	margin-right: 20px;
	text-align: right;
}

#preferences_bar a {
	text-decoration: none;
}


#header a, a:link {
	color: #ffffff;
	text-decoration: none;
}

#header a:active {
color: #C6D880;
  }

/* Main Container */

.container {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.container a {
  color: #336699;
  text-decoration: none;
}

#main {
background-color: #ffffff;
  padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
border-left: 1px solid gray;
border-right:  1px solid gray;
border-top: 1px solid gray;
min-height: 400px;
}

#main a:hover {
text-decoration: underline;
}

#fake_footer {
	height: 100px;
}

#footer{
  background-color: #29455A;
  margin-top: 20px;
  height: 100px;
}

/* Varios */
.fieldWithErrors {
  display: inline;
}


/* Customer#index */

#customersTable {

}

.customer {
  margin-bottom: 20px;
}

.customerHeader {
  margin-left: 10px;
  margin-right: 10px;
}


.customerName {
  font-size: 14px;
  font-weight:bold;
  float: left;
}

.customerName a{
	font-size: 14px;
}

.customerActions {
  text-align: right;
  margin-top: -30px;
}

.customer .customerDetails {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 13px;
  float: left;
}

.customer .customerContacts {
  margin-top: -19px;
  font-size: 13px;


}

.customer .customerContacts td {

  border-left: 1px solid #DDDDDD;
  border-bottom:  1px solid #DDDDDD;
  vertical-align: top;

}

#customerInvoices {
margin-top: 20px;
}



.addLink {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 16px;
  background:url(/images/icons/add_16.png) no-repeat transparent;
}

.editLink {
  padding-left: 18px;
  background:url(/images/icons/pencil_16.png) no-repeat transparent;
}

.viewLink {
  margin-right: 10px;
  padding-left: 16px;
  margin-right: 10px;
  background:url(/images/icons/page_16.png) no-repeat transparent;
}

.searchLink {
  margin-right: 10px;
  padding-left: 20px;
  margin-right: 10px;
  background:url(/images/icons/search_button_16.png) no-repeat transparent;
}

.newLink {
  margin-right: 10px;
  padding-left: 16px;
  background:url(/images/icons/page_text_add_16.png) no-repeat transparent;
}

.deleteLink {
  background:url(/images/icons/close_16.png) no-repeat transparent;
}



.empty {
  text-align:center;
}

.required {
  padding-left: 2px;
  border-left:#d12f19 solid;
}

#newInvoiceItems td {
vertical-align: top;
}

#newInvoiceItems td.deleteLink {
background-position: 50% 10%;
}

td.deleteLink a {
  display:block;
  height:16px;
  outline:medium none;
  text-indent:-9999px;
  width:16px;
}

#newInvoiceItems td hr {
margin-bottom: 0px;
}

#newInvoiceItems th {
padding-bottom: 8px;
padding-top: 8px;
background-color: #EEEEEE;
  }


.fields td textarea {
	height: 75px;
	width: 250px;
}

.readonly input[type="text"] {
  border:0px;
  cursor: default;
  text-align: right;
  width: 150px;
  padding: 0px;
}

.netPrice, .netLabel {
  font-size: 12px;
  font-weight: bold;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.taxPrice, .taxLabel {
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.totalPrice, .totalLabel {
  font-size: 15px;
  font-weight: bold;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.totals td {
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: right;
}

.readonly {
	width: 150px;
}

.totals .label td {
	width: 100px;
}

.totalHeader {
  text-align: right;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.item-quantity, .item-price, .item-total  {
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
  text-align: right;
}

.customer_name a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.invoice_info {
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
}

.history {
  margin-top: 20px;
  padding-top: 20px;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #F0F3F6;
  border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
}

.history td {
	vertical-align: top;
}

.status {
  margin-left: -10px;
  padding: 10px 0px 10px 30px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
}

.toolbox {
  margin-left: -10px;
  padding: 10px 0px 10px 30px;
  width: 100%;

}

.toolbox li {
  border-bottom: #BDBDBD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 0 10px 10px;
  margin-left: -30px;
  list-style: none;
  font-size: 13px;
}

.toolbox li#send_invoice a {
background:url(/images/icons/email_forward_20.png) no-repeat scroll left transparent;
}

.toolbox li#add_link a {
background:url(/images/icons/add_16.png) no-repeat scroll left transparent;
}

.toolbox li#edit_invoice a {
background:url(/images/icons/pencil_20.png) no-repeat scroll left transparent;
}

.toolbox li#print_invoice a {
background:url(/images/icons/printer_20.png) no-repeat scroll left transparent;
}

.toolbox li#duplicate_invoice a {
background:url(/images/icons/camera_add_20.png) no-repeat scroll left transparent;
}

.toolbox li#receive_payment a {
background:url(/images/icons/dollar_20.png) no-repeat scroll left transparent;
}

.toolbox li#delete_invoice a {
background:url(/images/icons/close_16.png) no-repeat scroll left transparent;
}

.toolbox li#download_invoice a {
background:url(/images/icons/arrow_down_16.png) no-repeat scroll left transparent;
}

.toolbox li#convert_invoice a {
background:url(/images/icons/star_16.png) no-repeat scroll left transparent;
}

.toolbox li a {
  padding-left: 25px;
}

.toolbox h3 {
	margin-left: -20px;
	padding-left: -20px;
}

.draft {
  background-color: #BDBDBD;
}

.draft_title {
  font-weight: bold;
}

.draft th {
  background-color: #F2F2F2;
}

.draft td {
  background-color: #FFFFFF;
}

.open {
  background-color: #77B8E2;
}


.open_result {
	color: #0066FF;
	font-weight: bold;
	
}

.close_result {
	color: #00CC00;
	font-weight: bold;
}

.due_result {
	color: #CC3300;
	font-weight: bold;
}

.draft_result {
	color: #999999;
	font-weight: bold;
}

.cancel_result {
	color: #5C0000;
	font-weight: bold;
}

.open th {
  background-color: #D1EAF1;
}

.open td {
  background-color: #F2FDFF;
}

.open_title {
  color: #078BCE;
  font-weight: bold;
}

.due {
  background-color: red;
}

.due th {
  background-color: #FFCC99;
}

.due td {
  background-color: #FFEBCD;
}

.due_title {
  color: red;
  font-weight: bold;
}

.invoice_list td {
  vertical-align: top;
}


.invoice_list th .current {
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: right center;
}

.invoice_list th .asc {
  background-image:url(/images/icons/arrow_up_16.png);
}

.invoice_list th .desc {
  background-image:url(/images/icons/arrow_down_16.png);
}

.close {
  background-color: #BCDD11;
  color: #565656;
}

.close_title {
  font-weight: bold;
}

.close th {
  background-color: #BCDD11;
  color: #000;
}

.close td {
  background-color: #F1FAC0;
  color: #000;
}

.invoice_list td.deleteLink {
  background-position: 0% 0%;
}

.invoice_list td.deleteLink a {
  display:block;
  height:20px;
  outline:medium none;
  text-indent:-9999px;
  width:20px;
}

.invoice_list td hr {
  margin-bottom: 0px;
}


.invoice_list th {
  padding-bottom: 8px;
  padding-top: 8px;
}

.invoice_list .fields , .invoice_list .fields:hover td {
  background-color: #FCFFCD;
  cursor: pointer;
}

.invoice_resume tr {

}

.new, .new a {
  width: 170px;
  text-align: center;
  font-size: 20px;
  padding-top:5px;
  background-color: #052446;
  color: #FFF;
  min-height: 40px;
  margin-bottom: 10px;
}

.new:hover, .new:hover a {
  background-color: #326091;
}

.new a:active {
  color: #C6D880;
}

.cancel {
  background-color: #5C0000;
}

.cancel a {
  width: 170px;
  text-align: center;
  font-size: 20px;
  padding-top:5px;
  color: #FFF;
  min-height: 40px;
  margin-bottom: 10px;
}

.cancel:hover, .cancel:hover a {
  background-color: #F53A3A;
}

.cancel a:active {
  color: #C6D880;
}

.comment .deleteLink  {
  background-position: 50% 50%;
  display:block;
  height:20px;
  outline:medium none;
  text-indent:-9999px;
  width: 20px;
}

.comment .date {
  width: 130px;
  font-size: 13px;
}

.comment .text {
  width: 600px;
}

ul.customernav {
  list-style: none;
  color: lightgray;

}

ul.customernav strong {
  color: black;
}

ul.customernav li {
  display: inline;
  font-size: 1.1em;
}

ul.customernav li:before {
  content: '| ';
}

.right {
  text-align: right;

}

.empty {
  background-color: #B2E3F6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border-color: #FFF;
  border-size: 1px;
  text-align: left;
  margin-top: 20px;
  padding: 10px 0 10px 10px;
  font-size: 13px;
}

.empty h3 {
  color: #004F87;
}

.empty .new {
  margin: 0 auto 0 auto;
}

.descriptionHeader {
  width: 130px;
}

.titleHeader {
	width: 150px;
}

.qtyHeader {
  width: 60px;
}

.unitHeader {
  width: 100px;
}

.priceHeader {
  width: 100px;
}

.totalHeader {
  width: 100px;
}

.input_large {
	font-size: 14px;
	width: 250px;
	padding: 10px;
}

fieldset {
	background: #EEEEEE;
}

.invoice_title {
	margin-top: -10px;
	margin-bottom: 20px;
}

#customer_optional {
	display: none;
	margin-top: -15px;
}

.paginate {
}

#search_tags {
	margin-top: -20px;
}

#search_tags .tag {
	background-color: #FCFFCD;
}