html, body {
  background-color: #EEE;
  height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Helvetica;
}

h4 {
	font-size: 14px;
	margin-bottom: -20px;
	padding-bottom: 0px;
	font-weight: bold;
	font-family: Helvetica;	
}

h4.sidebar_title {
	margin-top: 20px;
	margin-bottom: 0px;
}

hr {
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

input {
	padding: 5px;
}

/* Header Style */

#header {
  color: #ffffff;
  height: 61px;
  width: 100%;
  background: url(../images/header_bg.png);
  border-bottom: 1px solid white;
  font-size: 1.5em;
}

#header #logo {
margin-left: 20px;
float: left;
}

#header #navBar {
color: #ffffff;
  margin-left: 200px;
padding-top: 20px;
word-spacing: 10px;
}

#header #preferences_bar {
	float: right;
	margin-top: -35px;
	padding: 5px;
	width: 300px;
	margin-right: 20px;
	text-align: right;
}

#preferences_bar a {
	text-decoration: none;
}


#header a, a:link {
	color: #ffffff;
	text-decoration: none;
}

#header a:active {
color: #C6D880;
  }

#notice {
	margin-top: -40px;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

/* Main Container */

#login {
	color: black;
	background-color: #E5E5E5;
	padding: 55px 0;
}

.container {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.container a {
  color: #336699;
  text-decoration: none;
}

#main {
background-color: #ffffff;
  padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
border-left: 1px solid gray;
border-right:  1px solid gray;
border-top: 1px solid gray;
min-height: 400px;
}

#main a:hover {
text-decoration: underline;
}

#fake_footer {
	height: 100px;
}

#footer{
  background-color: #29455A;
  margin-top: 20px;
  height: 100px;
}

/* Varios */
.fieldWithErrors {
  display: inline;
}


/* Customer#index */

#customersTable {

}

.customer {
  margin-bottom: 20px;
}

.customerHeader {
  margin-left: 10px;
  margin-right: 10px;
}


.customerName {
  font-size: 14px;
  font-weight:bold;
  float: left;
}

.customerName a{
	font-size: 14px;
}

.customerActions {
  text-align: right;
  margin-top: -30px;
}

.customer .customerDetails {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 13px;
  float: left;
}

.customer .customerContacts {
  margin-top: -19px;
  font-size: 13px;


}

.customer .customerContacts td {

  border-left: 1px solid #DDDDDD;
  border-bottom:  1px solid #DDDDDD;
  vertical-align: top;

}

#customerInvoices {
margin-top: 20px;
}



.addLink {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 16px;
  background:url(/images/icons/add_16.png) no-repeat transparent;
}

.editLink {
  padding-left: 18px;
  background:url(/images/icons/pencil_16.png) no-repeat transparent;
}

.viewLink {
  margin-right: 10px;
  padding-left: 16px;
  margin-right: 10px;
  background:url(/images/icons/page_16.png) no-repeat transparent;
}

.searchLink {
  margin-right: 10px;
  padding-left: 20px;
  margin-right: 10px;
  background:url(/images/icons/search_button_16.png) no-repeat transparent;
}

.newLink {
  margin-right: 10px;
  padding-left: 16px;
  background:url(/images/icons/page_text_add_16.png) no-repeat transparent;
}

.deleteLink {
  background:url(/images/icons/close_16.png) no-repeat transparent;
}

.deleteLink_empty {
  width: 24px;
}




.empty {
  text-align:center;
}

.required {
  padding-left: 2px;
  border-left:#d12f19 solid;
}

table#newInvoiceItems {
	margin-bottom: 4px;
}

#newInvoiceItems td {
vertical-align: top;
}

#newInvoiceItems td.deleteLink {
background-position: 50% 10%;
}

td.deleteLink a {
  display:block;
  height:16px;
  outline:medium none;
  text-indent:-9999px;
  width:16px;
}

#newInvoiceItems td hr {
margin-bottom: 0px;
}

#newInvoiceItems th {
padding-bottom: 8px;
padding-top: 8px;
background-color: #EEEEEE;
  }


.fields td textarea {
	height: 75px;
	width: 250px;
}

#newInvoiceItems .readonly input[type="text"] {
	cursor: default;
	text-align: right;
	padding: 5px;
	margin-right: -10px;
	width: 80px;
	float: right;
	border-width: 0px;
}

table#totals {
	float: right;
	width: 0px;
}

#totals .price_value {
	text-align: right;
}

#totals .readonly input[type="text"] {
	cursor: default;
	text-align: right;
	padding: 5px;
	margin-right: -10px;
	width: 120px;
	float: right;
	border-top: 0px;
	border-left: 0px;+
}

.netPrice, .netLabel {
  font-size: 12px;
  font-weight: bold;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.taxPrice, .taxLabel {
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
  padding-right: 20px;
}

.totalPrice {
  font-size: 15px;
  font-weight: bold;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.totalLabel {
  padding-right: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

#totals td {
	padding-bottom: 0px;
}

.totals td {
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: right;
}

.readonly {
  width: 0px;
}


.totalHeader {
  text-align: right;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.item-quantity, .item-price, .item-total  {
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
  text-align: right;
}

.customer_name a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.invoice_info {
  margin-right: 5px;
  text-align: right;
  font-size: 14px;
}

#invoice_extra_info {
	margin-left: -10px;
	margin-top: 50px;
	border: 0;
	padding: 0;
	width: 730px;
}



.comments_body {
	padding-left: 20px;
  	padding-top: 0px;
	margin-left: 0px;
	background-color: #F0F3F6;
}


.comments .comments_header {
	margin-left: -10px;
	padding: 15px 10px 10px 10px;
	background: rgb(53,106,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}

.comments_header h3 {
	color: white;
}

.comment {
	clear: left;
	color: #333;
	padding-top: 0px;
	padding-left: 5px;
	margin-bottom: 5px;
}

.comment h4 {
	font-size: 12px;
	margin: 0 0 5px 0;
	font-weight: normal;
	color: #333;
}

.comment .avatar {
	float: left;
}

#invoice_extra_info .indented {
	margin-left: 70px;
}


.comment td {
	vertical-align: top;
}

.comment_text {
	margin: 5px 0px 5px 0px;
	font-family: "Lucida Grande",verdana,arial;
	
}

.comment_body br {
	padding: 0px;
}

.comment_suscriptions {
	margin: 10px 10px 20px 0px;
}

table#suscriptions {
	width: 500px;
}

.account_suscriptions td {
	vertical-align: top;
	min-width: 150px;
}

.status {
  margin-left: -10px;
  padding: 10px 0px 10px 30px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  width: 155px;
}

.toolbox {
  margin-left: -10px;
  padding: 10px 0px 10px 30px;
  width: 100%;

}

.toolbox li {
  border-bottom: #BDBDBD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 0 10px 10px;
  margin-left: -30px;
  list-style: none;
  font-size: 13px;
}

.toolbox li#send_invoice a {
background:url(/images/icons/email_forward_20.png) no-repeat scroll left transparent;
}

.toolbox li#add_link a {
background:url(/images/icons/add_16.png) no-repeat scroll left transparent;
}

.toolbox li.add_user_link a {
background:url(/images/icons/user_add_16.png) no-repeat scroll left transparent;
}


.toolbox li#edit_invoice a {
background:url(/images/icons/pencil_20.png) no-repeat scroll left transparent;
}

.toolbox li#print_invoice a {
background:url(/images/icons/printer_20.png) no-repeat scroll left transparent;
}

.toolbox li#duplicate_invoice a {
background:url(/images/icons/camera_add_20.png) no-repeat scroll left transparent;
}

.toolbox li#receive_payment a {
background:url(/images/icons/dollar_20.png) no-repeat scroll left transparent;
}

.toolbox li#delete_invoice a {
background:url(/images/icons/close_16.png) no-repeat scroll left transparent;
}

.toolbox li#download_invoice a {
background:url(/images/icons/arrow_down_16.png) no-repeat scroll left transparent;
}

.toolbox li#convert_invoice a {
background:url(/images/icons/star_16.png) no-repeat scroll left transparent;
}

.admin_account {
	background:url(/images/icons/star_16.png) no-repeat scroll left transparent;
	text-indent:-9999px;
}

.toolbox li a {
  padding-left: 25px;
}

.toolbox h3 {
	margin-left: -20px;
	padding-left: -20px;
}

.draft {
  background-color: #BDBDBD;
}

.draft_title {
  font-weight: bold;
}

.draft th {
  background-color: #F2F2F2;
}

.draft td {
  background-color: #FFFFFF;
}

.open {
  background-color: #77B8E2;
}

.cancel {
	background-color: #5C0000;
}


.open_result {
	color: #0066FF;
	font-weight: bold;
	
}

.close_result {
	color: #00CC00;
	font-weight: bold;
}

.due_result {
	color: #CC3300;
	font-weight: bold;
}

.draft_result {
	color: #999999;
	font-weight: bold;
}

.cancel_result {
	color: #5C0000;
	font-weight: bold;
}

.open th {
  background-color: #D1EAF1;
}

.open td {
  background-color: #F2FDFF;
}

.open_title {
  color: #078BCE;
  font-weight: bold;
}

.due {
  background-color: red;
}

.due th {
  background-color: #FFCC99;
}

.due td {
  background-color: #FFEBCD;
}

.due_title {
  color: red;
  font-weight: bold;
}

.invoice td {
  vertical-align: top;
  padding-top: 10px;
}


.invoice_list th .current {
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: right center;
}

.invoice_list th .asc {
  background-image:url(/images/icons/arrow_up_16.png);
}

.invoice_list th .desc {
  background-image:url(/images/icons/arrow_down_16.png);
}

.asc {
  	background: url(/images/icons/arrow_up_16.png) no-repeat transparent;
}

.desc {
  background:url(/images/icons/arrow_down_16.png) no-repeat transparent;
}

.image_link {
	display:block;
	height:20px;
	outline:medium none;
	text-indent:-9999px;
	width:20px;	
	text-align:left;
}

.close {
  background-color: #BCDD11;
  color: #565656;
}

.close_title {
  font-weight: bold;
}

.close th {
  background-color: #BCDD11;
  color: #000;
}

.close td {
  background-color: #F1FAC0;
  color: #000;
}

.invoice_list td.deleteLink {
  background-position: 0% 0%;
}

.invoice_list td.deleteLink a {
  display:block;
  height:20px;
  outline:medium none;
  text-indent:-9999px;
  width:20px;
}

#invoice_list hr {
  margin-bottom: 0px;
  margin-top: -10px;
}


.invoice_list th {
  padding-bottom: 8px;
  padding-top: 8px;
}

.invoce_list {
	margin-bottom: 0px;
}

.invoice .fields:hover td {
  background-color: #FCFFCD;
  cursor: pointer;
}

.invoice_resume {
	width: 175px;
}

.new, .new a {
  width: 300px;
  text-align: center;
  font-size: 20px;
  padding-top:5px;
  color: #FFF;
  min-height: 40px;
  margin-bottom: 10px;
}

.cancel_button a {
	background:url(/images/buttons/cancel_button.png) no-repeat scroll left transparent;
	border: 0 none;
    cursor: pointer;
    display: block;
    height: 62px;
    line-height: 90px;
    outline: 0 none;
    text-indent: -99999px;
    width: 250px;
}

.new_invoice_button a {
	background:url(/images/buttons/new_invoice_button.png) no-repeat scroll left transparent;
	border: 0 none;
    cursor: pointer;
    display: block;
    height: 62px;
    line-height: 90px;
    outline: 0 none;
    text-indent: -99999px;
    width: 250px;
}

.new_customer_button a {
	background:url(/images/buttons/new_customer_button.png) no-repeat scroll left transparent;
	border: 0 none;
    cursor: pointer;
    display: block;
    height: 62px;
    line-height: 90px;
    outline: 0 none;
    text-indent: -99999px;
    width: 250px;
}


.comment .deleteLink  {
  background-position: 50% 50%;
  display:block;
  height:20px;
  outline:medium none;
  text-indent:-9999px;
  width: 20px;
}

.comment .type {
  width: 100px;
  font-size: 13px;
  font-family: "Lucida Grande",verdana,arial;
}

.comment td.type {
  vertical-align: top;
}

.comment .date {
	margin-bottom: 5px;
} 

.comment .text {
  width: 550px;
  padding-left: 10px;
}

.comment table {
	margin-bottom: 0px;
}

div.avatar {
	float: right;
}

.comment div.body {
	float: left;
	width: 500px;
}


ul.customernav {
  list-style: none;
  color: lightgray;

}

ul.customernav strong {
  color: black;
}

ul.customernav li {
  display: inline;
  font-size: 1.1em;
}

ul.customernav li:before {
  content: '| ';
}

.right {
  text-align: right;

}

.empty {
  background-color: #B2E3F6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border-color: #FFF;
  border-size: 1px;
  text-align: left;
  margin-top: 20px;
  padding: 10px 0 10px 10px;
  font-size: 13px;
}

.empty h3 {
  color: #004F87;
}

.empty .new {
  margin: 0 auto 0 auto;
}

.descriptionHeader {
  width: 50%;
}

.titleHeader {
	width: 150px;
}

.qtyHeader {
  width: 60px;
}

.unitHeader {
  width: 100px;
}

.priceHeader {
  width: 100px;
}

.totalHeader {
  width: 100px;
}

.input_large {
	width: 280px;
	padding: 7px;
}

table.fields td {
	padding: 2px 10px 0px 2px;
}

div#invoiceFields ul.tagit {
	margin-top: -15px;
	margin-left: 5px;
	width: 260px;
	height: 59px;
}

fieldset {
	background: #EEEEEE;
}

.invoice_title {
	margin-top: -20px;
	margin-bottom: 20px;
}

#customer_optional {
	display: none;
	margin-top: -15px;
}

.paginate {
}

#search_tags {
	margin-top: -20px;
}

#search_tags .tag {
	background-color: #FCFFCD;
}

.comment_type {
    display: block;
	padding: 0px 5px 0px 0px;
	color: white;
	text-align: right;
}

.comment_title {
	font-size: 14px;
	font-weight: bold;
	margin-top: -3px;
	line-height: 16px;
	margin-bottom: 0px;
}

.comment_customer_name {
	color: #888;
	font-family: "Lucida Grande",verdana,arial;
	font-size: 10px;
	font-weight: normal;
}

.comment .comment_details {
	color: #888;
	font-size: 10px;
}

.type_pagada {
	background-color: #8fc400;
}

.type_comentario {
	background-color: #334E7D;
}

.type_aviso {
	background-color: #C87800;
}

.type_perdida {
	background-color: #7A4A77;
}

.type_nueva {
	background-color: ;
}
#recent_activity {
	margin-top: 20px;
	margin-bottom: 10px;
	
}

#recent_activity .comment {
	margin-top: 0px;
	padding-top: 0px;
}

.invoice_sort div {
	text-align: right;
}

.invoice_sort .select_title {
	margin-right: 5px;
}

.invoice_sort .select_box {
	margin-top: -5px;
}

.invoice_title h2 {
	margin-bottom: 0px;
}

.tagit {
	margin-top: 10px;
	width: 310px;
}

ul.tagit {
	border: 1px solid #BBB;
	padding: 5px 5px;
}

.add_link{
	background:url(/images/icons/add_16.png) no-repeat;
}


ul.tags {
	padding: 0px;
	list-style: none;
}

ul.tags li{
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}

ul.tags .edit_tags_link {
	vertical-align: top;
}

#edit_invoice_tags {
	display: block;
	background-color: rgba(131, 183, 226, .75);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width: 450px;
	height: 80px;
	z-index: 101;
}

#edit_invoice_tags #edit_invoice_tags_form {
	padding-left: 5px;
}

#edit_invoice_tags_form ul.tagit {
	height: 30px;
	width: 430px;
	padding: 2px 2px;
	margin-bottom: 10px;
}

#edit_invoice_tags_form input[type="submit"] {
	float: right;
	margin-right: 10px;
}


.search ul.tagit {
	height: 30px;
	width: 400px;
	padding: 2px 2px;
	margin-bottom: 10px;
}

.search .larger {
	height: 30px;
	padding: 2px 2px;
}

.from_search_date {
	margin-left: 30px;
	width: 175px;
	margin-right: 30px;
	height: 22px;
}

.until_search_date {
	width: 175px;
	margin-left: 30px;
	height: 22px;
}

select {
	min-width: 100px;
}

.big_button {
	/* Disables default styling */
	border: none;
	background: #E6E5DF;
	color: #eee;
	min-width: 150px;
	max-width: 300px;
	

	/* You need to set font, font size and cursor for buttons */
	font-size: 15px;
	cursor: pointer;
	padding: 8px 13px;
	font-weight: bold;
	border-radius: 0px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 0 0 1px #000 inset, /* Outer bevel */
        0 0 0 1px #000 inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 0px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 0 0 1px #000 inset, /* Outer bevel */
        0 0 0 1px #000 inset, /* Inner bevel */
        0 30px 20px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
	
}

.big_button .submit_action{
		color: #6F6F80;
		margin-left: -1	0px;
		padding-left: 30px;
		background: url('/images/icons/add_16.png') no-repeat transparent;
		background-position: left;
}

.big_button .cancel_action {
	color: #6F6F80;
	margin-left: -1	0px;
	padding-left: 30px;
	background: url('/images/icons/close_16.png') no-repeat transparent;
	background-position: left;
}

.big_button:hover {
	text-shadow: 1px 2px 1px rgba(0,0,0,0.15);
	background: #fff;
}

.dashboard_box  {
	padding: 10px 10px 0px 10px;
	background: white;
	text-align: left;
	margin-bottom: 20px;
	font-family: lucida grande,verdana;
	font-size: 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	box-shadow: 0 0 6px #999;
	border: 1px solid #AAA;
	width: 180px;}

.dashboard_box a:hover {
text-decoration: underline;
}

.dashboard_box th, .dashboard_box header {
	color: #504A4B;
	padding: 5px;
	border-bottom: 1px solid #9EA6B3;


}

.dashboard_box td {
	border-bottom: 1px solid #A9B1BF;
	padding: 10px;
	vertical-align: top;
}

#recent_activity .header {
	background-color: #EEE;
	padding: 10px 5px 10px 10px;
	margin-bottom: 10px;
}

.header h3 {
	margin: 0px;
}

#attachment_upload_dialog {
	margin-bottom: 20px;
	border: 6px solid #DDD;
	width: 630px;
	padding: 20px
}

input#document_description  {
	width: 350px;
}

.document {
	font-family: "Lucida Grande",arial,sans-serif;
	margin-bottom: 10px;
}

.document_date {
	width: 200px;
	margin-left: -24px;
	padding-left: 20px;
	border-bottom: solid 1px #CCC;
	padding-bottom: 0px;
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: bold;
	color: #666;
}

.document_image {
	margin-right: 10px;
	float: left;
}

.document_info {
	margin-top: -5px;
}

.document_info .file_name {
	font-weight: bold;
	font-size: 14px;
	color: black;
}

.document_info .document_description {
	font-size: 12px;
	color: #222;
}

.document_info .document_metadata {
	font-size: 11px;
	font-weight: normal;
	margin-top: 0;
	color: #666;
	margin-top: -15px;
}

#invoice_attachments {
	min-height: 300px;
}

#show_attachment_form {
	cursor: pointer;
	float: right;
	margin-top: -10px;
}

#attachment_upload_dialog_step1 {
	margin-left: -7px;
	margin-bottom: 20px
}

#attachment_file_name {
	font-size: 16px;
	color: black;
	font-weight: bold
}

#total_income {
	padding: 10px 10px 0px 10px;
	background: white;
	text-align: left;
	margin-bottom: 20px;
	font-family: lucida grande,verdana;
	font-size: 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	box-shadow: 0 0 6px #999;
	border: 1px solid #AAA;
	width: 180px;
}

#total_income .title {
	color: #AAA;
	font-weight: bold;
}

#total_income .income {
	text-align: right;
	font-size: 20px;
	margin-bottom: 10px;
}

#total_income .this_year {
	color: #6698FF;
	font-weight: bold;
}

#total_income .last_year {
	color: #504A4B;
}