body {
  background-color: #E7F1FD;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
}

#logo #logo_link {
	width: 150px;
	height: 60px;
	background: url("/images/logo.png") no-repeat scroll left top transparent;
	display: block;
	text-indent: -9999px;
}

#navBar {
	float: right;
	padding-right: 100px;
	text-align: right;
}

.container {
	min-height: 400px;
}

ol, ul {
    list-style: none outside none;
	margin: 0px;
	padding: 0px;
}

h3 {
    color: #0350A6;
    font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 82px;
    margin-top: 6px;
}

h4 {
    color: #011934;
    font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: 82px;
    margin-top: -5px;
}

#register {
	margin-top: -10px;
}

ul.section {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #F1F7FE;
    border-color: #8F9AA7 #C1CAD5 #C1CAD5;
    border-right: 1px solid #C1CAD5;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-bottom: 20px;
    width: 626px;
}

ul.section li {
    background-color: #E3E9F2;
    border-bottom: 1px solid #C1CAD5;
    border-top: 1px solid #F3F6F9;
    padding: 8px;
    position: relative;
}

ul.section li.header {
    background-color: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #C1CAD5;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 52px;
    padding: 0;
    position: relative;
}

ul.section li.bottom {
    background-color: transparent;
    border: 0 none;
    min-height: 5px;
}

ul.section li.header span {
    display: block;
    height: 62px;
    left: 15px;
    position: absolute;
    top: -15px;
    width: 59px;
}

ul#company-info.section li.header span {
    
}

label {
    color: #29384C;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    margin-right: 10px;
    text-align: right;
    width: 165px;
	padding-top: 9px;
}

input[type="text"], input[type="password"] {
    -moz-border-radius: 1px 1px 1px 1px;
    border: 1px solid #8D9095;
    color: #29384C;
    font-size: 13px;
    height: 20px;
    padding: 7px 5px 5px;
    width: 420px;
}

li.url input[type="text"] {
	width: 357px;
}

li.url strong {
	font-size: 16px;
}

#button-sign-up-now {
    background: url("/images/buttons/register_button.png") no-repeat scroll left top transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 62px;
    line-height: 90px;
    outline: 0 none;
    text-indent: -99999px;
    width: 250px;
}

.no_subdomain {
	padding: 20px;
	border-color: #FFD21E;
	border-width: 10px;
	border-style: solid;
	background-color: #FFF68F;
	font-size: 18px;
}

.no_subdomain .url {
	color: #1f6799;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.no_subdomain .company {
	color: #FFF;
	padding: 5px;
	background-color: #69ae00;
	border-width: 2px;
	border-color: #000;
	border-style: solid;
}

#login {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
}

#login .bottom {
	text-align: right;
}