<% if params[:action] == "show" %>
	<div class="span-4 last">
		<ul class="toolbox secondary">
			<h3>Preferencias</h3>
            	<li id="edit_invoice"><%= link_to "<strong>Editar</strong>", edit_user_path(@user)%></li>
          </ul>
      </div>
<% elsif params[:action] == "edit" %>
	<div class="cancel span-4 last">
	    <%= link_to "Cancelar", account_path(current_account) %>
	 </div>
	 <hr/>
<% end %>