<div class="navbar navbar-fixed-top scroll">
  <div class="navbar-inner">
    <a class="brand" href="<%= public_root_url() %>"><%= image_tag "logo.png", :title => "Folio Logo", :class => "class", :id => "logo_link", :style=>"margin-left: 40px" %></a>
    <ul class="nav pull-right">
	    <li><a href="#features">CARACTERISTICAS</a></li>
	    <li><a href="#faq">FAQ</a></li>
		<li><a href="#price">PRECIO</a></li>
		<li><a href="#">CONTACTO</a></li>		
	    <li><button href="button" class="btn btn-inverse" style="margin-left: 20px;">Ingresar</button></li>
    </ul>
  </div>
</div>
