<% if params[:action].eql?("new") || params[:action].eql?("edit")%>
  <%= sidebar_big_button("cancel", "customer", "Cancelar") %>
<% elsif params[:action].eql?("show") %>
  

<% else %>
  <div class="cancel span-4 last">
    <%= link_to "Nuevo Cliente", new_customer_path %>
  </div>
<% end %>

