<div class="page_error">
	<h1>Oh! Esto no existe</h1>
	<h2>Seguramente la URL es incorrecta</h2>
	<p>Revisa que hayas escrito bien la dirección, el uso de mayúsculas, puntuación, etc.</p>
	<div class="extras">
		<%= link_to "Volver al Dashboard", application_root_url %>
	</dvi>
</div>