<div class="page_error">
<h1>Error de Aplicación</h1>
<h2>Te has topado con un error en Folio</h2>
	
	<p>
		Nuestros administradores han sido notificados y se encuentran trabajando en su solución.
		<br/>Disculpa por el inconveniente
	</p>
	<div class="extras">
		<%= link_to "Volver al Dashboard", application_root_url %>
	</div>
</div>