<% unless @account.has_invoices? %>

   <div class="empty last">
	
	  	<h3>Este será tu centro de mando</h3>
	<p>
		Una vez que comiences ha trabajar con Folio podrás encontrar aquí toda la información que necesitas para atender de mejor forma tu negocio.
</p>

	</div>

<% else %>
<div id="charts">

<%= render "charts" %>

</div>

<div id="recent_activity">
<h3>Actividad reciente</h3>
<div id="comments" class="comment">
<%= render :partial => "comments/comment_dashboard", :collection => @comments ,
    :as => :comment, :spacer_template => "comments/comment_divider" %>
</div>
</div>
<%= will_paginate(@comments)%>
<%= pageless(@comments.total_pages, dashboard_path, '#comments')%>
<% end %>