<% if params[:action] == "show" %>
	<div class="span-4 last">
		<ul class="toolbox secondary">
			<% if account_admin? %>
            	<li id="edit_invoice"><%= link_to "<strong>Editar</strong>", 	edit_account_path(current_account) %></li>
				<li class="add_user_link"><%= link_to "<strong>Nuevo</strong> usuario", new_account_user_path(current_account.id) %>
			<% end %>
          </ul>

      </div>
<% elsif params[:action] =~ /["edit"|"update"]/ %>
	<div class="big_button">
	    <%= link_to "Cancelar", account_path(current_account), :class => "cancel_action" %>
	 </div>
	 <hr/>
<% end %>