<% if params[:action] == "show" %>
	<div class="span-4 last">
		<ul class="toolbox secondary">
			<h3>Preferencias</h3>
			<% if account_admin? %>
            	<li id="edit_invoice"><%= link_to "<strong>Editar</strong>", 	edit_account_path(current_account) %></li>
				<li class="add_user_link"><%= link_to "<strong>Nuevo</strong> usuario", new_account_user_path(current_account.id) %>
			<% end %>
          </ul>

      </div>
<% elsif params[:action] == "edit" %>
	<div class="cancel_button span-4 last">
	    <%= link_to "Cancelar", account_path(current_account) %>
	 </div>
	 <hr/>
<% end %>